---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A multifaceted Computer Science student with experience in a breadth of areas: 
    High-Performance Computing, Enterprise AI, Product Marketing, Data Analysis, Cloud Computing,
    Graphic Design, Leadership, Event Organization, Student Mentorship, and Chinese language. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="M.S in Computer Science"
      subtitle="2023 to 2024 at the Georgia Institute of Technology"
      >
      Graduate Teaching Assistant for OMSA CSE 6040 Computing For Data Analytics <br> 
      Founder & President of Supercomputing club at Georgia Tech
    </TimeLineElement>
    
    <TimeLineElement
      title="B.S in Computer Science"
      subtitle="2018 to 2022 at the Georgia Institute of Technology"
      >
      Minor in International Business and Chinese Language <br> 
      Study abroad program in Lorraine, France in Summer 2021
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    
    <!--TECHNICAL MARKETING ENGINEER 2023 EXPERIENCE-->
    <TimeLineElement
      title="Technical Marketing Engineer for Enterprise AI, NVIDIA"
      subtitle="From May 2023 to Sept 2023 at NVIDIA, Santa Clara CA, US"
    >
    <div>
      <ul style="list-style-type: square; list-style-position: outside">
        <li>Full description TBD upon completion of internship</li>
        <li>Developing POC to emulate enterprise use case of NVIDIA technologies: NVIDIA Merlin ML Recommender Model, NVIDIA Base Command Platform, and ML pipeline management with Apache Airflow</li>
      </ul>
    </div>
    <br>
    </TimeLineElement>

    <br>

    <!--PRODUCT MARKETING 2022 EXPERIENCE-->
    <TimeLineElement
      title="Product Marketing Intern for Enterprise AI, NVIDIA"
      subtitle="From May 2022 to Sept 2022 at NVIDIA, Remote, US"
    >
    <div>
      <ul style="list-style-type: square; list-style-position: outside">
        <li>Product marketing focused on NVIDIA DGX Systems, the flagship product for enterprise AI systems</li>
        <li>Lead strategy and drove engagement with the DGX MLOps partner ecosystem, consisted of 17 partners</li>
        <li>Assessed webpage analytics and employed engagement initiatives on the DGX-Ready Software webpage</li>
        <li>Sped the ROI of NVIDIA’s acquisition of Bright Computing by driving internal alignment, market strategy, and writing messaging & positioning. </li>
      </ul>
    </div>
    <br>
    </TimeLineElement>

    <br>

    <!--SUPERCOMPUTING COMPETITION 2020/2021 EXPERIENCE-->
    <TimeLineElement
      title="Student Cluster Competition at Supercomputing Conference '20 & '21"
      subtitle="From Jan 2020 to Dec 2021 at Georgia Tech & International Supercomputing Conference"
    >
    <div>
      <ul style="list-style-type:square;list-style-position: outside">
        <li>Achieved 3rd place internationally at SC20, representing Georgia Tech on a team of six individuals running benchmarks and large HPC scientific applications </li>
        <li>Learned to build and administer HPC clusters, OpenMPI, application optimization & tuning, Microsoft Azure HPC cloud, Oracle Cloud, Linux, NVIDIA GPU utilization</li>
        <li>Employed Project Management skills to organize team </li>
      </ul>
    </div>
    <br>
    </TimeLineElement>

    <br>

    <!--DATA ANALYST 2020 EXPERIENCE-->
    <TimeLineElement
      title="Data Analyst Intern, State Farm"
      subtitle="From May 2020 to Dec 2020 at State Farm, Remote, US"
    >

    <div>
      <ul style="list-style-type:square; list-style-position: outside ">
        <li>Implemented several features to IT Risk & Compliance dashboards using Qlikview, a business intelligence tool</li>
        <li>Designed mock-ups for IT Strategy dashboard used by executives</li>
        <li>Led, managed, organized, marketed, and emceed a three-hour virtual Intern Showcase event, which received over 250+ employee, manager, & executive attendance from the Atlanta Enterprise Technology dept</li>
      </ul>  
    </div>  
    </TimeLineElement>

    <br>

    <!--INTEL IOTG SWE 2019 EXPERIENCE -->
    <TimeLineElement
      title="IOT Software Engineer Intern, Intel"
      subtitle="From May 2019 to August 2019 at Intel, Phoenix AZ, US"
    >
    <div>
      <ul style="list-style-type:square; list-style-position: outside ">
        <li>Automated cloud computing resource deployments for IoT Remote Management system using Microsoft Azure</li>
        <li>Utilized Azure Resource Manager templates and formulated JSON files</li>

      </ul>  
    </div>  
    </TimeLineElement>

    <br>

    <!--DATA ANALYST 2020 EXPERIENCE-->
    <TimeLineElement
      title="Software Engineering Intern, State Farm"
      subtitle="From June 2017 to July 2017 & June 2018 to July 2018 at State Farm, Atlanta GA, US"
    >

    <div>
      <ul style="list-style-type:square; list-style-position: outside ">
        <li>Wrote software tests in Spark & Scala for Social Network Analysis (SNA) large-scale graph application that saves millions by detecting insurance fraud</li>
        <li>Developed with Docker to enable microservices in automating the deployment of machine learning models</li>
        <li>Insured proper implementation of State Farm’s Enterprise-wide containerization service</li>
      </ul>  
    </div>  
    </TimeLineElement>

    <br> 

    <!--COFOUNDER FOR NCWIT ASPIRE IT CAMP-->
    <TimeLineElement
      title="Cofounder & Lead, WIT Program at Lanier Middle School"
      subtitle="From October 2016 to March 2018, Atlanta GA, US"
    >

    <div>
      <ul style="list-style-type:square; list-style-position: outside ">
        <li>Received a total of $6000 in grants from the National Center for Women in Information Technology. </li>
        <li>Organized logistics, curated curriculum, and taught computing curriculum to over 50 girls at local middle school. Increased incoming freshmen girl participation in Lanier High School STEM program by 380%.</li>
      </ul>  
    </div>  
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
