---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A multifaceted Computer Science student with experience in a breadth of areas: 
    High-Performance Computing, AI, Cloud Computing, Data Analysis, Product Marketing,
    Graphic Design, Leadership, Event Organization, Student Mentorship, and Chinese language. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="M.S in Computer Science"
      subtitle="2023 to 2024 at the Georgia Institute of Technology"
    />
    <TimeLineElement
      title="B.S in Computer Science"
      subtitle="2018 to 2022 at the Georgia Institute of Technology"
      >
      Minor in International Business and Chinese Language <br> 
      Study abroad program in Lorraine, France in Summer 2021
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Product Marketing Intern for Enterprise AI Systems, NVIDIA"
      subtitle="From May 2022 to Sept 2022 at NVIDIA, Remote, US"
    >

    <div>
      <ul>
        <li>• Product marketing focused on NVIDIA DGX Systems, the flagship product for enterprise AI systems</li>
        <li>• Lead strategy and drove engagement with the DGX MLOps partner ecosystem, consisted of 17 partners</li>
        <li>• Assessed webpage analytics and employed engagement initiatives on the DGX-Ready Software webpage</li>
        <li>• Sped the ROI of NVIDIA’s acquisition of Bright Computing by driving internal alignment, market strategy, and writing messaging & positioning. </li>
      </ul>
    </div>
    <br>
    </TimeLineElement>
    <TimeLineElement
      title="Student Cluster Competition at Supercomputing Conference '20 & '21"
      subtitle="From Jan 2020 to Dec 2021 at Georgia Tech & International Supercomputing Conference"
    >
    <div>
      <ul>
        <li>• Achieved 3rd place internationally at SC20, representing Georgia Tech on a team of six individuals running benchmarks and large HPC scientific applications </li>
        <li>• Learned to build and administer HPC clusters, OpenMPI, application optimization & tuning, Microsoft Azure HPC cloud, Oracle Cloud, Linux, NVIDIA GPU utilization</li>
        <li>• Employed Project Management skills to organize team </li>
      </ul>
    </div>
    <br>
    </TimeLineElement>
    <TimeLineElement
      title="Data Analyst Intern, State Farm"
      subtitle="From May 2020 to Dec 2020 at State Farm, Remote, US"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
